<header>
  <div class="logo" (click)="goToHome()">Restaurant of cringe</div>
  <div class="buttons">
    <button (click)="goToDeliveryView()">Deliveries</button>
  </div>
  <div class="buttons">
    <button (click)="goToReservarionView()">Reservations</button>
  </div>
  <div class="buttons">
    <button (click)="goToChangePassword()">Change password</button>
  </div>
  <div class="buttons">
    <button (click)="goToProfile()">Profile</button>
  </div>
  <!-- <div class="buttons">
    <button (click)="goToRestaurants()">Restaurants</button>
  </div> -->
  <div class="buttons">
    <button (click)="logout()">Logout</button>
  </div>
  <div class="buttons">
    <button (click)="toggleBasket()">Basket</button>
  </div>
</header>

<div class="change-password-container">
  <h2>Change Password</h2>
  <form (ngSubmit)="changePassword()">
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input
        type="password"
        id="oldPassword"
        [(ngModel)]="oldPassword"
        name="oldPassword"
        required
      />
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input
        type="password"
        id="newPassword"
        [(ngModel)]="newPassword"
        name="newPassword"
        required
      />
    </div>
    <div class="form-group">
      <label for="confirmNewPassword">Confirm New Password</label>
      <input
        type="password"
        id="confirmNewPassword"
        [(ngModel)]="confirmNewPassword"
        name="confirmNewPassword"
        required
      />
    </div>
    <button type="submit" class="btn">Change Password</button>
    <span class="errorClass">{{ message }}</span>
  </form>
</div>
<br />
<br />
<br />
<br />
<div class="footer">
  <p>&copy; 2024 pravi majstor. All rights reserved.</p>
</div>
